docker-compose-override.yaml

/app/custom/*

/workspace/credentials/*
/workspace/tasks/*
/workspace/last-modified

!sample-*
!.gitkeep

!/app/custom/sample/

!/app/custom/*/.gitkeep
!/app/custom/*/sample-*

